* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #007acc;
    color: white;
    padding: 20px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header h1 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 2.5em;
}

header p {
    text-align: center;
}

header a {
    color: white;
    text-decoration: underline;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 20px;
    background: white;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h2 {
    border-bottom: 3px solid #007acc;
    padding-bottom: 10px;
    margin-bottom: 20px;
    color: #007acc;
}

.job {
    margin-bottom: 20px;
}

.job h3 {
    color: #007acc;
}

.job ul {
    margin-left: 20px;
    list-style-type: disc;
}

section {
    margin-bottom: 40px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
}

ul {
    padding-left: 20px;
    list-style-type: disc;
}

h3, h4 {
    margin-top: 20px;
}

p, ul {
    margin-bottom: 10px;
}

ul ul {
    list-style-type: circle;
}

h4 {
    margin-bottom: 10px;
    color: #007acc;
}
